.nav {
  width: 100vh;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: column;
    justify-content: start;
    width: 60px;
    height: 100vh;
  }
}
